<aside>

<p>Bananpaj 3000</p>

<h2>Kurser: <%= kurser  %></h2>

<h1>Välj kurs <%= kurser[1]%></h1>

<form method="GET" action="/comments/?">
    
    <select id="course_select" name="course-select">
    <% i = 0 %>
    <% for banan in kurser do%>
    <option value=<%= banan[0] %>><%= banan[1] %></option>
    <% i += 1 %>
    <% end %>
    </select>

    <select id="collection_select" name="collection-select">

    </select>

    <input type="submit" value="Hämta Samling"></input>

</form>

</aside>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#course_select").change(function () {
            var val = $(this).val();
        $("#collection_select").empty();
        $.get("/collections/" + val , function(response){
            parsed = JSON.parse(response)
            var i = 0
            while (i < parsed.object_first_key.length) {
                $("#collection_select").append("<option value=" + parsed.object_first_key[i][0] + ">" + parsed.object_first_key[i][1] + "</option>" );
                i++;
            };
        });
    });
});

</script>