<aside>

<p>Bananpaj 3000</p>

<h2>Kurser: <%= kurser  %></h2>

<h1>Välj kurs</h1>

<form method="GET" action="/comments/:collectionid/read">


<select name="collection-select">



<% i = 1 %>

<% for banan in kurser do%>

<option value=<%= i %>><%= banan[0] %></option>
<% i += 1 %>
<% end %>
</select>

</form>


</aside>