<aside>


<p></p>

<h2>Kurser: <%= kurser  %></h2>

<h1>Välj kurs</h1>

<form method="GET" action="/comments/:collectionid/read">


<select name="collection-select">

<select>


<% for banan in kurser do%>

<option value=<%= i %>><%= banan[0] %></option>
<% i += 1 %>
<% end %>
</select>

</form>


</aside>