<aside>

<<<<<<< HEAD
<p></p>

<h2>Kurser: <%= kurser  %></h2>
=======
<h1>Välj kurs</h1>

<form method="GET" action="/comments/:collectionid/read">

<select>
>>>>>>> 14eebd3a2ee7deeb25adf7b362cbfc9426eb7c48

<% for banan in kurser do%>
<h3><%= banan[0] %></h3>
<% end %>
</select>


</aside>